# Eclipse
.project
.classpath
.settings/
.metadata/

# VS Code
.vscode/

# Archivos compilados
*.class
bin/
/target/       # Maven

# Archivos temporales / sistema
*.log
*.tmp
.DS_Store
Thumbs.db
*~
*.swp

# Gradle (si lo llegas a usar)
.gradle/
build/