
body {
            background-color: #e6f2ff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
}

.contenedor {
            max-width: 600px;
            margin: 100px auto;
            background-color: white;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            text-align: center;
}

h1 {
            margin-bottom: 30px;
}

.boton {
            display: block;
            margin: 10px auto;
            padding: 12px 20px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border-radius: 6px;
            width: 80%;
            font-size: 16px;
}

.boton:hover {
    background-color: #0056b3;
}